<div>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="loginObject.email" [ngModelOptions]="{standalone: true}">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginObject.password" [ngModelOptions]="{standalone: true}">
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-dark" (click)="onLoginUp()">Login</button>
        </div>
    </form>

    <form>
      <div class="form-group">
        <label >User Name</label>
        <input type="text" class="form-control" placeholder="Enter user's name" [(ngModel)]="signupObject.userName" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="signupObject.email" [ngModelOptions]="{standalone: true}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="signupObject.password" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
          <button type="submit" class="btn btn-primary btn-dark" (click)="onSignUp()">Sign Up</button>
      </div>
  </form>
</div>